
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@500&family=Poppins&family=Roboto+Condensed&display=swap');
:root{
    --negro: #00100B;
    --rojo:  #C42021;
    --gris:  #7C8483;
    --blanco:#F0F3F5;

    --title: 'Oswald', sans-serif;
    --text: 'Open Sans', sans-serif;
}

main{
    height: 100vh;

}

h1,h3{
    font-family: var(--title);
    font-size: 45px;
}

.main-container{
    display: flex;
    flex-direction: column;
    background-color: var(--gris);
    width: 80%;
    height: fit-content;
    padding: 30px 5px;
    margin-top: -2%;
    border-radius: 30px;
    align-content: center;
    flex-wrap: wrap;
}

.transfer--container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin:25px 0 20px 0;
    flex-direction: column;
}

#trf-btn,#pay-btn{
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border: solid 1.5px var(--negro);
    cursor: pointer;
}

.box-title{
    font-size: 30px;
    margin-bottom: 5px;
    width: 100vh;
}

.input-form{
    font-family: var(--text);
    font-size: 20px;
}

.acc-btn{
    align-self: flex-end;
}

.transfer-amount,#transfer-destiny,
#pay-destiny{
    width: 100%;
    height: 35px;
    border-radius: 10px;
}

.userName {
    display: flex;
}

.buttonMenu{
    float: right;
}

.h1UserProfile {
    text-align: center;
    padding: 40px;
}

.pName {
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
}

.container-creditCard{
    display: grid;
    justify-content: center;
}

.credit-card {
    border-radius: 14px;
    max-width: 300px;
    display: block;
    margin: auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.imgCreditCard {
    margin-top: -12px;
    width: 100%;
    cursor: pointer;
    border-radius: 14px;
    box-shadow: 2px 10px 40px black;
}


.dates {
    background: #7C8483;
    border-radius: 4px;
    padding: 5%;
    padding-top: 200px;
    max-width: 600px;
    display: block;
    margin: auto;
    margin-top: -180px;
    z-index: -999;
    position: relative;
}

.datesUser{
    display: flex;
}

.pDatos{
    padding: 30px 10px;
    font-weight: bold;
    font-size: 30px;
    color: var(--negro);
}

.h2Datos{
    padding: 20px 0px;
    font-size: 40px;
}

.container-converter{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
}

#background{
    display: flex;
    padding: 20px;
    border-radius: 14px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    background-color: #7C8483;
}

#moneda{
    font-size: 15px;
    width: fit-content;
    align-content: center;
}

#pesos{
    width:fit-content;
    margin-top: -10px;
}

#ops{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

#btn,#moneda{
    border:none;
    border-radius: 5px;
    padding: 4px;
    width: fit-content;
    align-self: flex-end;
    cursor: pointer;
}

#resultado{
    border-bottom: solid 1px black;
    width: fit-content;
    height: 20px;
    resize: none;
    align-self: center;
    margin-top: -15px;
}